.container{
    width: 100%;
}
.left-column {
    float: left;
    padding: 5px;
    width: 47%;
    display: block;
    height: auto;
}

.right-column {
    float: right;
    padding: 5px;
    width: 47%;
    display: block;
    height: auto;
}

.container2{
    width: 100%;
    display: flex
}

span {
    display: inline-block;
}