h1 {
    color: rgb(42, 124, 35);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-color: lightgoldenrodyellow;
}
.nav {
    text-align: center;
    list-style-type: none;
    padding: 1px;
}
.nav a {
    text-decoration: none;
    color: rgb(42, 124, 35);
}
.nav a:hover {
    color: rgb(4, 37, 6);
    text-decoration: wavy underline;
}
fieldset {
    border: none;
}
main {
    text-align: center;
}
section {
    margin: 10px;
    padding: 40px;
} 
