h1 {
    color: rgb(42, 124, 35);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-color: lightgoldenrodyellow;
}
.nav {
    text-align: center;
    background-color: black
}
fieldset {
    border: 1px solid black;
}
main {
    text-align: center;
}