.container {
    display: flex;
    width: 100%;
    text-align: center;
}

.left-column, .right-column {
    padding: 10px;
}

.left-column {
    float: left;
    padding: 5px;
    width: 50%;
    display: block;
    background-color: black;
    color: white;
}

.right-column {
    float: right;
    padding: 5px;
    width: 50%;
    display: block;
    float: right;
    background-color: white;
    color: black;
}

header {
    text-align: center;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(5, 5, 5, 5);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}



h1 {
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    animation: bounce 1s 20;
}

#red {
    background-color: red;
    width: 100%;
    height: 10px;
}

#orange {
    background-color: orange;
    width: 100%;
    height: 10px;
}

#yellow {
    background-color: yellow;
    width: 100%;
    height: 10px;
}

#green {
    background-color: green;
    width: 100%;
    height: 10px;
}

#blue {
    background-color: rgb(16, 16, 160);
    width: 100%;
    height: 10px;
}

#purple {
    background-color: rgb(66, 7, 66);
    width: 100%;
    height: 10px; 
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: space-evenly;
    background-color: gray
}

.grid-container:hover {
    background-color: black;
}

#red2 {
    background-color: red;
    width: 100px;
    height: 100px;
}

#orange2 {
    background-color: orange;
    width: 100px;
    height: 100px;
}

#yellow2 {
    background-color: yellow;
    width: 100px;
    height: 100px;
}

#green2 {
    background-color: green;
    width: 100px;
    height: 100px;
}

#blue2 {
    background-color: rgb(16, 16, 160);
    width: 100px;
    height: 100px;
}

#purple2 {
    background-color: rgb(66, 7, 66);
    width: 100px;
    height: 100px;
}

.nav {
    text-decoration: none;
    list-style-type: none;
    color: black;
}

button {
    color: rgb(0, 0, 0);
    padding: 20px 30px;
    border-radius: 20px;
    background-color: chartreuse;
    transition: background-color 1s ease;
}

button:hover {
    background-color: coral;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

nav .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu-icon {
    display: block;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

#menu-toggle {
  display: none;
}